*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-weight: 200;
}

body {
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    color: white;
    font-family: 'comic sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

form p {
    text-align:left;
    margin-bottom: .5rem;
}

#main {
    margin: auto;
    width: 64%;
    padding-top: 3.5rem;
}   

#intro {
    margin: 0 auto;
    text-align: center; 
    font-weight: ;
}

div.intro {
    min-width: auto;
}

div.intro p {
    font-style: italic;
    font-weight: 200;
    margin-bottom: 2.5rem;
}

label, input[type=checkbox], input[type=radio] {
    float: left;
}

.check-label, .radio-label {
    padding-left: .5rem;

}

label[for="dropdown"], label[for="comments"], #name-label, #email-label, #number-label{
    margin-bottom: .5rem;
}


form {
    background-color: rgba(27, 27, 50, 0.8);
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    min-width: 400px;
    max-width: 800px;
    line-height: 1.4 
}


input[type=text], input[type=email], input[type=number], #dropdown, #comments {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin: ;
}



span[id="commentfield"] {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
}

#submit-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 0;
    background-color: #37af65;
    color: white;
}



